<h1>Search</h1>
<div>
    <app-contact>
      </app-contact>
    <app-searchbar>
      
    </app-searchbar>
</div>

<h1>My stock list</h1>
<h3>Todays date: {{today}}</h3>


  <ul *ngIf = "stocks">
    <li *ngFor = "let date of dates" style="white-space: nowrap">
      <div style="display:inline-block; margin-right:20px;">
            <h4>Stock symbol: {{metaData['2. Symbol']}} <h5>{{date}}</h5></h4>
            <div>
              Closed at: {{stocks[date]["4. close"]}} $
            </div>
      </div>
    </li>
  </ul>
