<h1>Search</h1>

<h1>My stock list</h1>
<h3>Todays date: {{today}}</h3>
<button class = "button1">Save my stock list</button>

<div><app-searchbar> </app-searchbar></div>

<ul *ngIf="stocks">
  <li *ngFor="let date of dates" style="white-space: nowrap">
    <div style="display:inline-block; margin-right:20px;">
      <a routerLink="/company/{{metaData['2. Symbol']}}"
        ><h4>Stock symbol: {{ metaData["2. Symbol"] }}</h4></a
      >
      <h5>{{ date }}</h5>
      <div>Closed at: {{ stocks[date]["4. close"] }} $</div>
    </div>
  </li>
</ul>
